body{
   font-family: 'Muli', Helvetica, Arial, sans-serif;
   background: #cfe1d4;
}

/*----------- header ----------- */

header {
    position: fixed;
    width: 100%;
    background-color:  #89B594;
    padding: 20px 0 20px 15px;
    margin: -10px;
    box-shadow: 0px 2px 6px #433F3F;
}

header h1{
    display: inline;
    color: white;
    /*text-transform: uppercase;*/
    padding-right: 20px;
    font-weight: lighter;
}

pre.banner {
   display: inline;
   color: #29362c;
   font-size: 14px;
}

.container {
  display: flex;
  /*width: 100%;*/
  /*text-align: center;*/
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  border: 5px solid #29362c;
  background: white;
}
/*----------- Display Area -----------*/

#image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#image-container img {
  display: flex;
  height: 250px;
  width: 250px;
  padding: 10px;
  box-shadow: 2px 2px 5px #29362c;
  border-radius: 10px;
}

#faves-list {
  width: 100%;
  color: black;
  font-size: 13px;
}

ul#faves-list {
  font-size: 14px;

}


/*----------- Media Properties ----------- */

@media (max-width: 1050px) {
    .container{
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    #image-container{
        width: 100%;
    }
    h1{
        font-size: 1.4em;
    }
    pre{
        font-size: 1em;
    }
}
